<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Registros</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<h1>Gestión de Registros en PostgreSQL</h1>

<h2>Insertar Registro</h2>
<form id="create-form">
   <input type="text" id="nombre" placeholder="Nombre" required />
   <input type="number" id="edad" placeholder="Edad" required />
   <input type="text" id="carrera" placeholder="Carrera" required maxlength="20" />
   <button type="submit">Crear Registro</button>
</form>

<h2>Leer Registros</h2>
<button onclick="fetchRecords()">Mostrar Registros</button>
<div id="records"></div>

<h2>Actualizar Registro</h2>
<form id="update-form">
   <input type="number" id="update-id" placeholder="ID del Registro" required />
   <input type="text" id="update-nombre" placeholder="Nuevo Nombre" required />
   <input type="number" id="update-edad" placeholder="Nueva Edad" required />
   <input type="text" id="update-carrera" placeholder="Nueva Carrera" required maxlength="20"/>
   <button type="submit">Actualizar Registro</button>
</form>

<h2>Eliminar Registro</h2>
<form id="delete-form">
   <input type="number" id="delete-id" placeholder="ID del Registro a Eliminar" required />
   <button type="submit">Eliminar Registro</button>
</form>

<script src="{{ url_for('static', filename='js/script.css') }}"></script>
</body>
</html>